---
import Layout from "../../layouts/Layout.astro";
import { getEntry, render } from "astro:content";

const { slug } = Astro.params;

if (!slug) {
  throw new Error("Failed to render page; Missing slug parameter.");
}

const blogPost = await getEntry("blog", slug);
if (!blogPost)
  throw new Error(
    `Failed to render page; Blog article with id: "${slug}" not found.`
  );

const { Content } = await render(blogPost);
---

<Layout>
  <div class="container">
  <Content />
  </div>
</Layout>

<style is:global>
.container {
  padding-inline: 1rem;
  max-width: 800px;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}
</style>
